@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inconsolata:wght@200&family=Kalam:wght@300&family=Lobster&family=Permanent+Marker&family=Playfair+Display+SC&display=swap');
/*variables globales*/
* {
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
  font-family: 'Inconsolata', monospace;
  font-family: 'Kalam', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Playfair Display SC', serif;
}
body {
  margin: 0;
  font-family: "Inconsolata";
}
img {
  display: block;
  width: 100%;
}
.main-header {
  padding: 0 20px;
}
/*titulo de la pagina*/
.main-header__title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
  color: #454546;
  font-family: "Poppins";
}
.main-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__link {
  color: #333;
}

/* Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}
.menu{
  position: absolute;
  top: 180px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto;
}
.menu__link {
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.icon-menu{
  font-size: 1.5em;
  border: 1px solid #454546; 
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.main-header__btn{
  display: block;
  padding: 10px 30px;
  color: #454546;
  border: 1px solid #454546;
  text-decoration: none;
}
.main-header__input{
  display: block;
  padding: 10px;
  width: 50%;
}


.main {
  padding: 0 20px;
}

/* Slider lista de imagenes */
.container-slider{
  margin: 50px 0;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  height: 300px;
  margin-left: -100%;
  position: relative;
}
.slider:before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100%;
}

.slider__section {
  width: 100%;
  position: relative;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover { 
  background: #fff;
}
.slider__btn--left{
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 999;
}
.slider__title{
  font-size: 2.2em;
  margin: 0;
}
.slider__txt{
  margin: 5px 0;
}
.btn-shop{
  display: block;
  border: 2px solid #FF4E00;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.btn-shop:hover{
  background: #FF4E00;
  color: white;
}
/* lista de productos */
.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}
/*
.product:before {
  content: "New";
  background: #FF4E00;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: white;
}*/
#product-1::before{
  content: "10%";
  background: #FF4E00;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: white;
}
.product__img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.product__title {
  text-align: center;
}

.product__price {
  color: #FF4E00;
  font-weight: bold;
}

.product__icon {
  display: block;
  margin-top: 10px;
}

.product:hover .product__icon {
  color: #FF4E00;
}

/*piede pagina*/
.main-footer{
  background: #151515;
  color: white;
  padding: 30px 20px;
}
.footer__title{
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer__txt {
  color: #555;
}
.footer__link{
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer__input{
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
  color: #fff;
}
.copy {
  color: #555;
}

/*Responsivo para tablet*/
@media screen and (min-width:768px) {
  .slider{
    height: 400px;
  }
  .editor__item{
    height: 250px;
  }
  .container-tips{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
/*Responsivo para escritorio o laptop*/

@media screen and (min-width:1024px) { 
  .container{
    width: 1000px;
    margin: auto;
  }
  .icon-menu {
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
    padding: 0 20px;
  }
  .main-header__title {
    width: 100%;
    font-size: 4em;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .main-header__link {
    margin-bottom: 20px;
  }
  .main-header__btn{
    width: 130px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
  }
  .main-nav{
    visibility: visible;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;
  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }
  .container-products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product__img {
    height: 150px;
  }
  .container__testimonials{
    font-size: 1.3em; 
  }
  .container-editor{
    display: flex;
    justify-content: space-between;
  }
  .editor__item{
    width: 48%;
  }
  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .copy {
    grid-column-start: span 4;
    text-align: center;
  }
}
/*responsibo parte menu*/
@media screen and (min-width:1280px) { 
  .container{
    width: 1200px;
  }
  .main-header__container:nth-child(3){
    padding-left: 60px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.3em;
  }
  .slider{
    height: 500px;
    font-size: 1.5em;
  }
}
/*responsibo parte contenedor*/
@media screen and (min-width:1600px) { 
  .container{
    width: 1500px;
  }
  .main-header__container:nth-child(3){
    padding-left: 150px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .slider{
    height: 600px;
  }
  .product__img {
    height: 200px;
  }
}

.email{
    color: #fff;
}
/*Carrito*/

/*Carrito*/

.nada {
  list-style: none;
}

.submenu {
  position: relative;

}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  color: #000;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 999999;
  background: rgb(245, 237, 237);
  border-radius: 10px;
  padding: 20px;
}

.vacio {
  padding: 10px;
  background-color: #3174f0;
  text-align: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}


.button {
  background-color: #3174f0;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.button:hover {
  background-color: #000000;
}

/*Dentro de submenu de opciones*/

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #a19c9c;
}


th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
  position: absolute;
  top: 22px;
  left: 91%;
}

.u-pull-left {
  float: left;

}